* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
    
.flex__header{ 
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.flex__top{ 
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.header{
    padding-top:100px;
}

.header__block{
    padding:40px 29px 29px 25px;
}

.header__block__title{
    margin-bottom:17px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.header__block__content{
    margin-bottom:25px;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

.header__block__link{
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.top{
    padding-top:92px;
    padding-bottom:100px;
    background-color: rgb(250, 250, 250);
}

.top__text__title{
    text-align: center;
    margin-bottom:19px;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.top__text__content{
    text-align: center;
    margin-bottom:54px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-weight: 400;
    color: rgb(102, 102, 102);
}

.category__block{
    background-color: rgb(255, 255, 255); 
    padding:15px 30px 50px 30px;
    text-align: center;
}

.category__block__image{
    width: 100px;
    height: 100px;
}

.top__federal_region{
    margin-bottom: 22px;
}


.top__block__title{
    margin-bottom: 22px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}


.top_federal_region_grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, auto); 
    grid-template-rows: repeat(2, auto);
}

.federal_region__block{
    background-color: rgb(255, 255, 255); 
    padding:15px 30px 50px 30px;
    text-align: center;
}

.federal_region__icon{
    margin-bottom:25px;
    width: 100px;
    height: 100px;
}


.top__search{
    display: flex;
    justify-content: center;
}

.button_search{
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    background-color: rgb(242, 88, 34);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 1rem 20rem;
    text-decoration: none;
    border: 2px solid transparent;
}

.button_search:hover{
    color:rgb(242, 88, 34);
    background-color: #fff;
    border: 2px solid rgb(242, 88, 34);
}