__pycache__/ 
venv/
.idea/

ParserSql/ProcurementsDB/Procurements.db

ProcurementsDB/Procurements.db

BotSqlJava/ProcurementsDB/Procurements.db
BotSqlJava/BotToken.txt
BotSqlJava/src/main/resources/BotToken.txt
BotSqlJava/*.log
